@charset 'utf-8';

/*
* CSS by Sofie Wallin (sowa2002), student at MIUN, 2021
*/

@import './utilities/variables';
@import './utilities/mixins';
@import './utilities/helper-classes';

@import './base/reset';
@import './base/typography';

.hidden {
    display: none;
}

body {
    background-color: lightyellow;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
}